################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/BMEDSystem/.vs
/BMEDSystem/BMEDSystem/obj/Debug
/BMEDSystem/BMEDSystem/obj/Release
/BMEDSystem/BMEDSystem/bin/Release
/BMEDSystem/BMEDSystem/bin/Debug
