@model EDIS.Models.DeliveryModel

@{
    Layout = "~/Views/Shared/_PassedLayout.cshtml";
    ViewBag.Title = "驗收單/編輯";
}

<style>
    /*fieldset{
        border-style:solid;
        border-width:2px;
        border-color:white;
    }*/
    .setWhiteColor {
        color: white;
        /*width:auto;*/
    }

    a {
        color: deepskyblue;
    }
</style>

<h2>編輯</h2>

<fieldset>
    <legend class="setWhiteColor">驗收單</legend>

    @Html.HiddenFor(model => model.DocId)
    <div style="margin-bottom: 10px">
        @await Html.PartialAsync("_AttainFile", Model)
    </div>

    <div class="editor-label">
        <label asp-for="UserId" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="UserId" class="form-control" readonly />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="UserName" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="UserName" class="form-control" readonly />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="Company" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="Company" class="form-control" readonly />
        <span asp-validation-for="Company" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="Contact" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="Contact" class="form-control" readonly />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="WartyMon" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="WartyMon" class="form-control" />
        <span asp-validation-for="WartyMon" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="ApplyDate" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="ApplyDate" type="date" class="form-control" readonly />
        <span asp-validation-for="ApplyDate" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="AccDpt" class="control-title"></label>
    </div>
    <div class="editor-field form-inline">
        <input asp-for="AccDpt" class="form-control" readonly />
        <input asp-for="AccDptNam" class="form-control" readonly />
        <span asp-validation-for="AccDpt" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="ContractNo" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="ContractNo" class="form-control" />
        <span asp-validation-for="ContractNo" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="BudgetId" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="BudgetId" class="form-control" />
        <span asp-validation-for="BudgetId" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="PurchaseNo" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="PurchaseNo" class="form-control" />
        <span asp-validation-for="PurchaseNo" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="CrlItemNo" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="CrlItemNo" class="form-control" />
        <span asp-validation-for="CrlItemNo" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="DelivPson" class="control-title"></label>
    </div>
    <div class="editor-field form-inline">
        <input asp-for="DelivPson" class="form-control" readonly />
        <input asp-for="DelivPsonNam" class="form-control" readonly />
        <span asp-validation-for="DelivPson" class="text-danger"></span>
        @if (Model.DelivPson != null)
        {
            @await Component.InvokeAsync("UserInfo", new { id = Model.DelivPson })
        }
    </div>

    <div class="editor-label">
        <label asp-for="DelivDateR" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="DelivDateR" type="date" class="form-control" />
        <span asp-validation-for="DelivDateR" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="VendorId" class="control-title"></label>
    </div>
    <div class="editor-field">
        <input asp-for="VendorNam" class="form-control" readonly />
        <span asp-validation-for="VendorNam" class="text-danger"></span>
    </div>

    <div class="editor-label">
        <label asp-for="Memo" class="control-title"></label>
    </div>
    <div class="editor-field form-inline">
        <textarea asp-for="Memo" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Memo" class="text-danger"></span>
    </div>

    <div id="pnlASSET">
        <div class="editor-label">
            <label class="control-title">儀器列表</label>
        </div>
        <div style="padding-left: 20px; color: whitesmoke">
            @await Component.InvokeAsync("BuyEvaluateAssetListItem", new { id = Model.DocId })
        </div>
    </div>
    <div id="pnlASSETVIEW">
        <div class="editor-label">
            <label class="control-title">儀器列表</label>
        </div>
        <div style="padding-left: 20px; color: whitesmoke">
            @await Component.InvokeAsync("BuyEvaluateAssetListItem", new { id = Model.DocId, upload = "查看" })
        </div>
    </div>
    <div id="pnlVENDOR">
        <h2>
            廠商專區
        </h2>
        <div>
            @Html.ActionLink("新增儀器", "New", "Asset", new { docid = Model.DocId, rdate = Model.DelivDateR },
                  new { id = "btnAddAsset", target = "_blank" })
        </div>
        <div id="gvASSETLIST" style="padding-left: 20px; color: whitesmoke">
            @await Component.InvokeAsync("BuyEvaluateAssetListItem", new { id = Model.DocId, upload = "得標廠商" })
        </div>
        <img src="~/images/opc-ajax-loader.gif" id="imgLOAD_VENDOR" />
    </div>
    <div id="pnlMEDENG">
        <h2>
            設備工程師專區
        </h2>
        <div id="gvASSETLIST" style="padding-left: 20px; color: whitesmoke">
            @await Component.InvokeAsync("BuyEvaluateAssetListItem", new { id = Model.DocId, upload = "設備工程師" })
        </div>
    </div>
    <div id="pnlWartyData">
        @await Component.InvokeAsync("DelivWartyData", new { id = Model.DocId })
    </div>
    <div>
        @await Component.InvokeAsync("DelivFlowList", new { id = Model.DocId })
    </div>
    <div>
        @await Component.InvokeAsync("DelivNextFlow", new { id = Model.DocId })
    </div>

</fieldset>
<script>
     $(function () {
        var page = window.location.hash
            ? window.location.hash.slice(1) : 1;
        fetchPage(page);
    });

    var fetchPage = function (page) {
        var pagedPartialUrl = '@Url.Action("BuyEvaluateListItem", "Asset", new { Area = "BMED" })';
        var s = "id=" + $("#DocId").val() + "&upload=得標廠商";
        $.ajax({
            url: pagedPartialUrl,
            type: "POST",
            async: true,
            data: s + "&page=" + page,
            beforeSend: function () {
                $("#imgLOAD_VENDOR").show();
            },
            success: function (data) {
                //window.location.hash = page;
                $('#gvASSETLIST').html(data);
                $('#gvASSETLIST .pagination li a').each(function (i, item) {
                    var hyperLinkUrl = $(item).attr('href');
                    if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                        var pageNumber = hyperLinkUrl.substr(hyperLinkUrl.length-1);
                        $(item).attr('href', '#').click(function (event) {
                            event.preventDefault();
                            $(event.target).attr('href');
                            fetchPage(pageNumber);
                        });
                    }
                });
            },
            complete: function () {
                $("#imgLOAD_VENDOR").hide();
            }
        });
    };

    function OnSuccess(ano, seqno, fid, data) {
        if (data != "")
        {
            alert(data);
            return false;
        }
        var f = document.getElementById("upfstatus" + ano);
        var c = document.getElementById("cls_now");
        $(f).html('').load(encodeURI("../../AssetFile/CheckFiles?id=" + ano + "&cls=" + $(c).text()), function () {
            $("tr[id='" + ano + seqno + fid + "']").hide();
            alert('刪除成功');
        });
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="~/js/BMED/DelivNextFlow.js" asp-append-version="true"></script>
    <script src="~/js/BMED/FileChoose2.js" asp-append-version="true"></script>
}
