body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: #346076; /*#1D3C4C;*/
    color: #fff;
    font-size: 1.2em;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

.login {
    background: url('../images/login2.png') no-repeat;
    width: 651px;
    height: 557px;
    color: black;
    padding: 120px 50px 50px 50px;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
    text-align: center;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Custom CSS. */
td a, a {
    color: blue;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #199C59;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #fff !important;
    background-color: #62c894;
}

ul.nav-second-level {
    background: #199C59 !important;
}

.nav > li[role=presentation] > a {
    color: #199C59;
}

.nav-tabs > li > a {
    color: #808080 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555 !important;
    cursor: default;
}
select.form-control {
    width: 200px;
}

textarea {
    width: 50%;
}


.overfind {
    overflow: scroll;
    overflow-y: hidden;
}

