@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("錯誤") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert" style="margin-bottom: 0px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model
    </div>
}
