@model EDIS.Models.AppUserModel
@{
    Layout = null;
}

@{
    @if (Model != null)
    {
        <table>
            <tr>
                <td>電話：@Model.Ext</td>
                <td>手機：@Model.Mobile</td>
                <td>Email：@Model.Email</td>
            </tr>
        </table>
    }
}