@model EDIS.Models.QryRepResignListData
@using EDIS.Models.Identity
@using EDIS.Models

@inject CustomUserManager UserManager
@inject ApplicationDbContext _context
<link href="~/css/bootstrap-combobox.css" rel="stylesheet" />
<script src="~/js/bootstrap-combobox.js"></script>
<script>
    $(function () {
        $('.reSignCombobox').combobox();
    });
</script>

@{
    string role = null;
    var user = _context.AppUsers.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();
    if (UserManager.IsInRole(User, "MedAssetMgr"))
    {
        role = "MedAssetMgr";
    }
    else if (UserManager.IsInRole(User, "MedBranchMgr"))
    {
        role = "MedBranchMgr";
    }
    else if (UserManager.IsInRole(User, "Admin"))
    {
        role = "Admin";
    }
}

<script type="text/javascript">
    $(function () {
        $('#RepResignForm').submit(function () {
            fetchPageRESIGN(1);
            return false;
        });
        /* Only first visit the page, will submit the form. */
        var count = 0;
        $('.nav-tabs a[href="#menu5"]').on('shown.bs.tab', function (event) {
            if (count == 0) {
                $("#RepResignForm").submit();
                count++;
            };
        });
        //
        // Use ajax to fetch page.
    var fetchPageRESIGN = function (page) {
        var pagedPartialUrl = '@Url.Action("GetResignList", "Repair", new { Area = "BMED" })';
        var s = $('#RepResignForm').serialize();
        $.Toast.showToast({
            'title': '作業進行中，請稍待...',
            'icon': 'loading',
            'duration': 0
        })
        $.ajax({
            url:pagedPartialUrl,
            type: "POST",
            data: s + "&page=" + page,
            success: function (data) {

                window.location.hash = page;

                $('#pnlUnSignList').html(data);

                $('#pnlUnSignList .pagination li a').each(function (i, item) {
                    var hyperLinkUrl = $(item).attr('href');
                    if (typeof hyperLinkUrl !== 'undefined' && hyperLinkUrl !== false) {
                        var pageNumber = $(item).attr('href').replace(pagedPartialUrl + '?page=', '');
                        $(item).attr('href', '#').click(function (event) {
                            event.preventDefault();
                            $(event.target).attr('href');
                            fetchPageRESIGN(pageNumber);
                        });
                    }
                });
                $.Toast.hideToast();
            },
            error: function (data) {
                alert(data.responseText);
                $.Toast.hideToast();
            }
        });

    };
    });
</script>

<form asp-controller="Repair" asp-action="GetResignList" asp-area="BMED" data-ajax="true"
      data-ajax-update="#pnlUnSignList" data-ajax-method="GET" id="RepResignForm"
      data-ajax-begin="$.Toast.showToast({
      'title':'查詢中，請稍待...',
      'icon':'loading',
      'duration':0
      })"
      data-ajax-complete="$.Toast.hideToast()"
      data-ajax-failure="onFailed">

    <h4>查詢條件</h4>
    <input name="role" type="text" value="@role" hidden />

    <div class="container">
        <div class="row">
            <div class=form-inline>
                <div class="form-group">
                    <label for="qtyReSignDOCID" class="control-title">表單編號</label>
                    <input asp-for="qtyReSignDOCID" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="qtyReSignASSETNO" class="control-title">財產編號</label>
                    <input asp-for="qtyReSignASSETNO" class="form-control-s" />
                </div>
                <div class="form-group">
                    <label for="qtyReSignACCDPT" class="control-title">成本中心</label>
                    <select asp-for="qtyReSignACCDPT" asp-items="@ViewData["ReSignAccDpt"] as SelectList" class="form-control reSignCombobox">
                        <option value="">請選擇</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=form-inline>
                <div class="form-group col-md-offset-1 col-md-1">
                    <div>
                        <input id="btnReSignQTY" type="submit" value="查詢" class="btn btn-default btn-group-justified" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<h4>未分派案件</h4>
<br />
<div id="pnlUnSignList"></div>

