<div class="footer">
    <div class="pull-right">
        彰基醫工智能
    </div>
    <div>
        <strong>Changhua Christian Intelligent</strong> 彰基醫工智能系統 &copy; 2020
        <br />
        <strong>TEL : <span>04-7238595</span></strong>
        <strong>Ext : <span>3025</span></strong>
    </div>
</div>
