@using Microsoft.AspNetCore.Identity
@using EDIS.Models
@using EDIS.Models.Identity

@inject CustomSignInManager SignInManager
@inject CustomUserManager UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <div id="logoutForm" class="navbar navbar-right">
            <ul class="nav navbar-top-links ">
                <li>
                    <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext" style="font-family:sans-serif;font-weight:600;font-size:large">
                        Hello @UserManager.GetCurrentUserLocName(User) @UserManager.GetUserFullName(User) !
                    </span>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" style="color:#676a6c">
                        <i class="fa fa-sign-out"></i>登出
                    </a>
                </li>
            </ul>
        </div>
    </form>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">註冊</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">登入</a></li>
        </ul>*@
}
