@using EDIS.Models.Identity

@inject CustomUserManager UserManager
@inject CustomSignInManager SignInManager
@using EDIS.Extensions;

<div class=" border-bottom " style="height:73px;">      
        <nav class="navbar navbar-static-top " role="navigation" style="margin-bottom: 0 ">
            <section class="index_bg2">
                <div class="navbar-header ">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <div class="col-md-5 col-sm-3">
                    <h2 style="font-weight: 600; color: #676a6c; margin-top : 15px">彰基醫工智能系統</h2>
                </div>
                @await Html.PartialAsync("_LoginPartial")
            </section>
        </nav>
</div>



